@import url(reset.css);
/* 변수 선언 */
html {
    --color-primary: red;
}

.container1 {
    width: 100px;
    height: 100px;
    background-color: var(--color-primary);
    margin: 10px;
}

.container2 {
    width: 100px;
    height: 100px;
    background-color: var(--color-primary);
    margin: 10px;
}
