.container {
    border: 4px solid red;
    display: flex;
}
.item {
    width: 100px;
    /* width 값은 기본으로 가져간 후, 나머지를 증가넓이로 가져간다. */
    height: 100px;
    border: 4px solid;
    flex-grow: 1;
}

.item:nth-child(2) {
    flex-grow: 2;
}